<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Legendary Cuisine</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cookie|Roboto" rel="stylesheet">
</head>
<body>
	<div class="intro">
		<div class="header">
			<div class="logo"><img src="/static/img/logo.png"></div>
			<ul>
				<li>
					<a href="index.html">home</a>
				</li>
 - 
				<li>
					<a href="index.html">menus</a>
				</li>
 - 
				<li>
					<a href="index.html">reservations</a>
				</li>
 - 
				<li>
					<a href="index.html">about</a>
				</li>
 - 
				<li>
					<a href="index.html">contact</a>
				</li>
			</ul>

			<div class="introtext">
				<span class="t1">Legendary Cuisine</span><br>
				<span class="t2">in the heart of new york city</span><br>
				<img src="/static/img/simbols.png">
			</div>
		</div>		
	</div>

	<div class="story">

		<div class="food">
			<img src="/static/img/food.jpg">
		</div>
		
		<div class="t3">
			<span id="lineStory1">Our Story</span><br>
			<span id="lineStory2">begins</span><br>
			<span id="lineStory3">. . .</span><br>
			<span>Exercitation photo booth stumptown tote bag Banksy, elit<br> small batch freegan sed. Craft beer elit seitan<br> exercitation, photo booth et 8-bit kale chips proident<br> chillwave deep v laborum. Aliquip veniam delectus, Marfa<br> eiusmod Pinterest in do umami readymade.</span>
		</div>
		
	</div>

	<div class="recipse">
		<div class="t4">
			<span id="lineR1">Signature Recipes</span><br>
			<span id="lineR2">reinvented</span><br>
			<span id="lineR3">. . .</span><br>
			<span id="lineR4">Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade.</span>
		</div>	
	</div>

	<div class="foodmenu">
		<div class="t5">
			<div class="t5-1">
				<span id="lineF1">The Menus</span><br>
				<span id="lineF2">specialities</span><br>
				<span id="lineF3">. . .</span>
			</div>
		</div>

		<div class="foodmenuL">
			<span class="boldtext">carry-tamarillor</span><span class="smalltext">................................................................</span><span class="numbers">$7.95</span><br>
			<span class="smalltext">Cornish mackerel, marinated tomatoes, fragrant curry, tamarillo</span><br><br>

			<span class="boldtext">roasted steak roulade</span><span class="smalltext">.....................................................</span><span class="numbers">$8.75</span><br>
			<span class="smalltext">Mint parsley with apple cider vinegar, salt, sugar &amp spices</span><br><br>

			<span class="boldtext">campo lindo chiken</span><span class="smalltext">..........................................................</span><span class="numbers">$12.75</span><br>
			<span class="smalltext">Fava beans, artchokes, farro &amp black current gastrique</span><br><br>

			<span class="boldtext">poulet cordon bleu</span><span class="smalltext">..........................................................</span><span class="numbers">$14.95</span><br>
			<span class="smalltext">Paupiette of chicken, blue cheese &amp ham, rosemary salt  and bea</span>
	<div class="specimage">
		<img src="/static/img/special1.png" >
	</div>

		</div>

		<div class="foodmenuR">
			<span class="boldtext">maple farm breast</span><span class="smalltext">..........................................................</span><span class="numbers">$5.95</span><br>
			<span class="smalltext">Creamy polenta, english peas, carrots &amp port sauce</span><br><br>

			<span class="boldtext">filet de saumon</span><span class="smalltext">.................................................................</span><span class="numbers">$9.75</span><br>
			<span class="smalltext">Baked salmon fillet, hollandaise sauce, rosemary salt potatoes</span><br><br>

			<span class="boldtext">quail cheese</span><span class="smalltext">.......................................................................</span><span class="numbers">$14.75</span><br>
			<span class="smalltext">Smoked quail, crispy egg, spelt, girolles, parsley</span><br><br>

			<span class="boldtext">confit de canard</span><span class="smalltext">.............................................................</span><span class="numbers">$19.95</span><br>
			<span class="smalltext">Duck confit, white bean &amp ham cassoulet, wilted spinach</span>
		</div>
	</div>

	<div class="links">
		<div class="square"><a href="index.html"><img src="/static/img/dish1.png" class="dish1"></a>
		<!-- <img src="image/dish1_1.png" class="dish1_1"> -->
		</div>


		<div class="square"><a href="index.html"><img src="/static/img/dish2.png" class="dish2"></a></div>
		<div class="square"><a href="index.html"><img src="/static/img/dish3.png" class="dish3"></a></div>
		<div class="square"><a href="index.html"><img src="/static/img/dish4.png" class="dish4"></a></div>
		<div class="square"><a href="index.html"><img src="/static/img/dish5.png" class="dish5"></a></div>
	</div>

	<div class="reservation">
		<div class="food1">
			<img src="/static/img/food1.jpg">
		</div>
		
		<div class="t3">
			<span id="lineReserv1">Reservations</span><br>
			<span id="lineReserv2">book now</span><br>
			<span id="lineReserv3">. . .</span><br>
			<span>Exercitation photo booth stumptown tote bag Banksy, elit<br> small batch freegan sed. Craft beer elite seitan<br> exercitation, photo both et 8-bit chips proident<br> chillwave deep v laborum aliquip veinam delectus.</span><br>
			<span id="lineReserv4"><a href="">get yours</a></span>
		</div>
		
	</div>
	</div>

	<div class="footer">
		<div class="footerlinks">
			<ul>
				<li>
					Madison Park, 66	
				</li>

				<li>
					Knightsbridge
				</li>

				<li>
					New York SW1X 7LA
				</li>

				<li>
					+44 20 7201 3833
				</li>
			</ul>
		</div>


		<div class="footerlinks">
			<ul>
				<li>
					Monday - Thursday   	
				</li>
					
				<li>
					11:00 - 23:00
				</li>

				<li>
					Friday - Saturday
				</li>

				<li>
					10:00 - 01:00
				</li>
			</ul>
		</div>


		<div class="footerlinks">
			<ul>
				<li>
					<a href="">Facebook</a>	
				</li>
				
				<li>
					<a href="">Twitter</a>
				</li>

				<li>
					<a href="">Instagram</a>
				</li>

				<li>
					<a href="">Tripadvisor</a>
				</li>
			</ul>
		</div>

		<div class="end">
			<img src="/static/img/logo.png" style="height: 50px; float: left;">

			<span style="color: #4d5460; display: inline-block; padding-top: 15px; margin-left: 20px; font-size: 9pt;">Copyright 2016. All the information on this site has none commercial character</span>
		</div>
	</div>
</body>
</html>